@model IEnumerable<BookShoppingCartMvcUI.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Edit Books</h1>

<p>
    @* <button type="button" class="btn btn-primary">Primary</button> *@
    <a asp-action="Create"><button type="button" class="btn btn-primary">Create New</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> 
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-square"></i></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
